# ▸ Python
*.pyc
__pycache__/
.venv/
.env                # tokens y claves API

# ▸ Datos
data/
!data/.gitkeep   # opcional: deja un marcador vacío
outputs/
models/*.joblib
models/*/*.joblib

# ▸ Logs y cachés
*.log
.cache/
.ipynb_checkpoints/

# ▸ IDE
.vscode/
.idea/
