# ▸ Python
*.pyc
__pycache__/
.venv/
.env                # tokens y claves API

# ▸ Datos
data/raw/           # NetCDF y otros brutos
data/interim/
data/processed/*.parquet
outputs/
models/*.joblib
models/*/*.joblib

# ▸ Logs y cachés
*.log
.cache/
.ipynb_checkpoints/

# ▸ IDE
.vscode/
.idea/
